**/*~
**/#*

*.[o]
*.[so]
**/symbols.rds

**/.Rhistory
**/.RData
**/*.Rout

**/*.log
**/*.pdf
**/*.aux
**/*.tex

**/_site
**/*_files
**/*_cache

*.tar.gz

.couchapprc

data/*

./BBMRIomics/.Rproj.user/*


#END OF FILE.

